* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    padding: 20 px 35 px;
    background-color: #39a6b2;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    color: #fce138;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background: #fce138;
    width:100%;
    padding: 40px 35px;
}

footer h2 {
    display:inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer {
    color: #024e76;
}